.pageTop {
  height: 6rem;
  min-height: 6rem;
  max-height: 6rem;
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2.5rem;
  width: 50%;
}
.pageTop h1 {
  font-size: 2.5rem;
  height: 4rem;
  min-height: 5rem;
}
.pageTop p {
  color: gray;
  font-size: 15px;
  margin-top: 1.5rem;
}
