* {
  margin: 0px;
  padding: 0px;
}
body {
  font-family:
    "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans",
    Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
  height: 100vh;
}
.appContainer {
  background-color: white;
  width: 27rem;
  height: 99vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid gray;
  overflow: auto;
}
.mainContainer {
  background-color: white;
}
.navBtn {
  height: 4rem;
  width: 25rem;
  display: flex;
  justify-self: center;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  border: 2px solid gray;
  border-radius: 5px;
  box-shadow: -1px -2px 3px gray;
  text-decoration: none;
  color: black;
  font-weight: 600;
  margin-top: 2rem;
}
.navBtn:hover {
  background-color: lightgray;
}
.cardStack {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  max-height: 20rem;
  background-color: gray;
}
